<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-list"></i> Medicine Categories</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a ui-sref="medicines" class="btn btn-default btn-xs"><i class="fa fa-arrow-left"></i> Back to Medicines</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-5">
                        <div class="well">
                            <h4>Add New Category</h4>
                            <div class="form-group">
                                <label>Category Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" ng-model="newCategory.name" placeholder="e.g. Antibiotics, Painkillers">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" ng-model="newCategory.description" rows="3" placeholder="Category description..."></textarea>
                            </div>
                            <button class="btn btn-primary" ng-click="saveCategory()"><i class="fa fa-plus"></i> Add Category</button>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cat in categories">
                                    <td><strong>{{cat.name}}</strong></td>
                                    <td>{{cat.description || '-'}}</td>
                                    <td>
                                        <button class="btn btn-xs btn-danger" ng-click="deleteCategory(cat._id, cat.name)"><i class="fa fa-trash"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr ng-if="categories.length === 0">
                                    <td colspan="3" class="text-center text-muted">No categories found. Add one on the left.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
